.togglebutton {
    opacity: 0;
    display: none;
}

.response {
    width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emoji_section {
    top: 10vh;
}

.chat_msg_section {
    max-width: 40rem;
    overflow: auto;
    height: auto;
}

.mainUserMsg {
    justify-content: right;
}

#sideBarMsg {
    height: 650px;
    overflow-y: auto;
}

.msgContent {
    height: 610px;
    overflow: auto;
}

.rightUser {
    background: #3B93DA;
}

.leftUser {
    color: #333333 !important;
    background: #E0E7ED;
}

.leftUser p, .leftUser h2 {
    color: #333333 !important;
}

.msg_side_show {
    font-size: 12px !important;
    max-width: 13rem;
    overflow: hidden;
}

.emoji_picker {
    position: absolute;
    bottom: 115%;
    left: 2%;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

@media (min-width: 768px) {
    .d-lg-block {
        display: block;
    }
}

.w-75 {
    width: 75%;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

.activeCountMsg {
    background: #1dbf73;
    font-weight: 700;
    font-size: 11px;
    color: white;
    border-radius: 50%;
    padding: .1rem .2rem;
}

.stickers {
    height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 100%;
    left: 1.2rem;
    border: 1px solid #f0f0f0;
    width: 20rem;
    background: #fff;
}

.stickers img {
    border-radius: .3rem;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    width: 6.25rem;
    transition: 400ms;
    float: left;
}

.stickers img:hover {
    background: #f0f0f0;
}

@media only screen and (max-width: 1023px) {
    .response {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 10;
        opacity: 1;
        transition: .4s ease all;
        overflow: hidden;

    }

    .togglebutton {
        opacity: 1;
        display: block;
    }
}
